<app-primary-page></app-primary-page>
<div #line class="h-0.5  md:h-3 sticky top-72 md:top-52 left-0 z-20 -mt-0.5 md:-mt-3 position"></div>
<div class=" bg-gray-50 dark:bg-[#191C25]  min-h-screen flex justify-center items-center pt-8">
    <div class="flex justify-center items-center flex-wrap mx-4">
        <div class="flex md:justify-start md:mr-16">
            <div class="absolute h-24 -mt-10 ml-10 md:-mx-14 md:my-60 md:h-28"><img class="h-full" src="/assets/images/efect01.svg" alt=""></div>
            <div class="absolute h-24 mt-28 rotate-90 -ml-16 md:mx-20 md:-my-14 md:h-32"><img class="h-full" src="/assets/images/efect01.svg" alt=""></div>
            <div class="relative h-48 w-48 md:h-80 md:w-80 bg-slate-300/50 dark:bg-[#21242E]/50 blur-sm  backdrop-blur-sm rounded-3xl"></div>
            <div class="absolute h-28 -mt-11 -ml-10 md:-mx-8 md:-my-8 md:h-36 xl:h-40"><img class="h-full" src="/assets/images/country.svg" alt=""></div>
            <div class="absolute h-28 ml-28 -mt-12 md:mx-48 md:-my-10 rotate-12  md:h-36 xl:h-40 rounded-2xl overflow-hidden"><img class="h-full" src="/assets/images/img-01.png" alt=""></div>
            <div class="absolute h-40 mt-20 md:mx-10 md:my-36 -rotate-2 md:h-56 rounded-3xl overflow-hidden"><img class="h-full" src="/assets/images/img-02.png" alt=""></div>
        </div>
        <div class="text-white-primary  dark:text-white-primary/20 w-full md:w-2/3 xl:w-96 overflow-y-hidden text-2xl xl:ml-16 mt-20 xl:mt-0"><p>
            <span class="text-[#3166ED] text-3xl">M</span><span #text0 [ngClass]="{'text-slate-600 dark:text-white-primary':vtext0}">y name is Diego and I am a software developer and designer. I have worked on projects related to e-commerce and financial management, </span>
            <span #text1 [ngClass]="{'text-slate-600 dark:text-white-primary':vtext1}">I am passionate about architecture and delivering software solutions that present a clean, easy to maintain and scalable code.</span>
            <br>
            <span #text2 [ngClass]="{'text-slate-600 dark:text-white-primary':vtext2}">In my spare time I like to read and design UI models that are attractive, web or Android applications, both for personal projects and for friends.</span>
            <br>
            <span #text3 [ngClass]="{'text-slate-600 dark:text-white-primary':vtext3}">I love collaborative environments that promote knowledge and new experiences.</span>
            <br>
            <span #text4 [ngClass]="{'text-slate-600 dark:text-[#ffffe3]':vtext4}">I invite you to continue browsing my website and to contact me.</span></p></div>
    </div>
</div>
<div class="bg-gray-50 dark:bg-[#191C25] min-h-screen flex items-center px-2 md:px-9 xl:px-36 flex-col relative back-image bg-[length:0%]">
    
    <div class="flex flex-wrap">
        <div class="flex items-center justify-center">
            <div class="h-20 w-20 rounded"></div>
        </div>
        <div>
            <p><span></span></p>
        </div>
    </div>
    
    <div class=" h-36 min-h-max w-full efect">
        <app-title-description [title]="'My back-end skills'" [description]="''"></app-title-description>
    </div>
    
    <div class="px-2 pt-4 xl:px-16 w-full">
        <app-skill  *ngFor="let skill of backSkills"
        [title]="skill.name" [subSkills]="skill.subSkills" [experienceQuantity]="skill.experienceQuantity"></app-skill>
    </div>
    <div class=" h-36 min-h-max w-full efect">
        <app-title-description [title]="'My front-end skills'" [description]="''"></app-title-description>
    </div>
    <div class="px-2 pt-4 xl:px-16 w-full">
        <app-skill  *ngFor="let skill of frontSkills"
        [title]="skill.name" [subSkills]="skill.subSkills" [experienceQuantity]="skill.experienceQuantity"></app-skill>
    </div>
    <div class="px-2 h-[40rem] pt-4 m-2 xl:px-16 w-full min-h-max max-h-[50rem] mb-32">
        <app-project-menu></app-project-menu>
    </div>
    
</div>

<div class="bg-[#3166ED] flex items-center px-2 md:px-9 xl:px-36 flex-col relative back-image-down">
    <div class="px-2 min-h-max w-full -mt-16 mb-24">
        <app-certificate-panel></app-certificate-panel>
    </div>
    <div class="px-2 min-h-max w-full mt-10 mb-24">
        <div class="flex flex-wrap bg-white rounded-xl p-4">
            <div class="w-full">
                <h2 class="uppercase font-light text-4xl"><span class="text-[#F50D60]">@</span>contact me</h2>
                <div class="h-0.5 bg-[#F50D60]"></div>
            </div>
            <div class="w-full flex justify-center flex-col xl:w-1/2 h-56 xl:h-auto">
                <img class="h-[100%]" src="/assets/images/ilustracion.svg">
            </div>
            <div class="w-full xl:w-1/2 md:px-6 xl:pt-16">
                <app-send-email-form></app-send-email-form>
            </div>
        </div>
    </div>
</div>