<div class="min-h-[30rem] flex justify-center sm:justify-start sm:items-start bg-primary"  >
    <div class="sm:ml-40 mt-20">
        <app-my-personal-title></app-my-personal-title>
        <app-subTitleCode></app-subTitleCode>
        <div class="flex mt-5">
            <button class="p-2 px-3 shadow-md hover:shadow-[#265EEE] text-[#265EEE] border-[#265EEE] border-2 bg-transparent hover:bg-[#265EEE] hover:text-[#fff] rounded-md">Contact</button>
            <button class="p-2 px-3 ml-4 shadow-md hover:shadow-[#265EEE] bg-[#265EEE] rounded-md text-[#fff]">Download My CV</button>
        </div>
    </div>
    <div class="w-full absolute max-h-screen -z-10">
        <app-first-cube></app-first-cube>
    </div>
</div>
